<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.CartMapper">
    <!--
        implementation of addCart function
        int addCart(Cart cart)
    -->
    <insert id="addCart" useGeneratedKeys="true" keyProperty="cartId">
        insert into cart
        values (DEFAULT, 0);
    </insert>

    <!--
        implementation of findCartById function
        Cart findCartById(int cartId)
    -->
    <select id="findCartById" resultType="cart">
        select *
        from cart
        where cartid = #{cartid}
    </select>

    <!--
        implementation of updateCartTotalPrice function
        int updateCartTotalPrice(int orderItemPrice)
    -->
    <update id="updateCartTotalPrice">
        update cart
        set totalprice = #{param1}
        where cartid = #{param2}
    </update>

    <!--
        implementation of findOrderItemsByCartId function
        List<OrderItem> findOrderItemsByCartId(int cartId)
    -->
    <select id="findOrderItemsByCartId" resultType="orderItem">
        select *
        from orderitem
        where cartid = #{cartid}
    </select>
</mapper>