<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.MenuItemMapper">
    <!--
        implementation of getMenusByRestaurantId function
        getMenusByRestaurantId(int restaurantId)
    -->
    <select id="getMenusByRestaurantId" resultType="menuItem">
        select *
        from menuitem
        where restaurantid = #{restaurantid}
    </select>

    <!--
        implementation of getMenuItemById function
        MenuItem getMenuItemById(int menuItemId)
    -->
    <select id="getMenuItemById" resultType="menuItem">
        select *
        from menuitem
        where menuitemid = #{menuitemid}
    </select>
</mapper>